p {
  line-height: 1.8em;
}

li {
  margin-bottom: 0.5em;
}

hr {
  margin: 1.6em 0;
}

blockquote {
  margin-top: 2em;
  margin-bottom: 2em;
  background: rgba(0,0,0,.3);
}

#comments-section {
  margin-top: 2.5em;
  padding: 2em;
  padding: 2em;
  background: rgba(0,0,0,.4);
}

#footer {
  margin-top: 2.5em;
  border-top: 6px solid #b5e853;
  background: rgba(0,0,0,.4);
  color: #b5e853;
  text-align: center;
  padding: 1.4em 0;
  font-size: small;
}
